

.sidebar__main::-webkit-scrollbar{
    background: transparent;
    width: 16px;
}

.sidebar__main::-webkit-scrollbar-thumb {
    height: 16px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
}

.sidebar__main{
    max-width: min-content;
    min-width: 240px;
    width: 240px;
    height: calc(100vh - 56px);
    background-color: white;
    flex: 1;
    flex-basis: 0.000000001px;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    
  

    

    .sidebar_text_box {
        border-bottom: 1px solid #0000001a;
        display: inline-block;
        padding: 16px 32px;
        
    }
    .sidebar_text {
           
        display: block;
        color: #0f0f0f;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 400;
    }

    .sidebar_box{

        border-bottom: 1px solid #0000001a;
        padding: 12px;

        .sidebar_title_box{
            margin: 0;
            

            .sidebar_title{
                
                color: rgb(15, 15, 15);
                font-family: "Roboto", "Arial", sans-serif;
                font-size: 1.6rem;
                line-height: 2.2rem;
                max-height: 2.2rem;
                font-weight: 500;
                overflow: hidden;
                display: block;
                max-height: 2.2rem;
                -webkit-line-clamp: 1;
                display: box;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                white-space: normal;
                padding: 6px 12px 4px;
                height: 40px;
                box-sizing: content-box;
            }
        }

        .sidebar__item{
    
            &:hover {
                background-color: rgba(0,0,0,0.05);
            }
            
            color: #0f0f0f;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: "Roboto", "Arial", sans-serif;
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 400;
            flex: 1;
            flex-basis: 0.000000001px;
            width: calc(100% - 12px);
            padding: 0 12px;
            border-radius: 10px;
            align-items: center;
            height: 40px;
            -webkit-font-smoothing: antialiased;
            display: flex;
     
            
    
            .svg{
                pointer-events: none;
                display: inherit;
                width: 24px;
                height: 24px;
                margin-right: 24px;
            }
        }
    
        #item_home{
            background-color: rgba(0,0,0,0.05);
        }
    
        .active {
            
            font-weight: 500;
        }

       

    }


    .login-button {
        color: #065fd4;
        border-color: rgba(0, 0, 0, 0.1);
        padding: 0 15px;
        border-width: 1px;
        border-style: solid;
        height: 36px;
        font-size: 14px;
        line-height: 36px;
        border-radius: 18px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        max-width: max-content;
        cursor: pointer;

        &:hover {
            background-color: #def1ff;
            border-color: transparent;
        }

        .person-icon {
            margin-right: 6px;
            margin-left: -6px;
            width: 24px;
            height: 24px;
            line-height: 0;
            fill: currentColor;
        }

        .login-text {
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 500;
            user-select: none;
        }
    }

    .sidebar_footer_box{
        font-family: Roboto, Arial, sans-serif;

        .sidebar_footer_top_links{

            padding: 16px 24px 0;
            // border-top: 1px solid #0000001a;

            .footer_top_link{
                display: inline-block !important;
                text-decoration: none;
                color: #606060;
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.8rem;
                margin-right: 8px;
            }
        }

        .sidebar_footer_mid_links{

            padding: 12px 24px 0;

            .footer_mid_link{
                display: inline-block !important;
                text-decoration: none;
                color: #606060;
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.8rem;
                margin-right: 8px;
            }
        }

        .sidebar_footer_bottom{
            padding: 16px 24px;
            color: #909090;
            font-family: "Roboto", "Arial", sans-serif;
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-weight: 400;
            display: block !important;

            .copyright{
                color: #909090;
                font-family: "Roboto", "Arial", sans-serif;
                font-size: 1.2rem;
                line-height: 1.8rem;
                font-weight: 400;
            }
        }
    }


}

.sidebar_main_sm{
    
    // position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    width: 72px;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    z-index: 2028;
    padding: 0 4px;


    .sidebar_item_box_sm{
        margin-top: 4px;
        display: flex;
        flex-direction: column;

        .sidebar_item_sm{
            display: inline-block;
            position: relative;
            background-color: white;
            border-radius: 10px;

            &:hover{
                background-color: #0000000d;
            }

            .sidebar_item_content_sm{
                padding: 16px 0 14px;
                outline: 0;
                width: 64px;
                display: flexbox;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                text-decoration: none;
                color: #0f0f0f; 


                .sidebar_item_title_sm {
                    color: #0f0f0f;
                    max-width: 100%;
                    display: block;
                    max-height: 1.4rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.4rem;
                }

                .svg{
                    pointer-events: none;
                    display: inherit;
                    width: 24px;
                    height: 24px;
                    margin-bottom: 6px;
                }
            }
        }
    }
}