* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100vw;
    height: 100%;
    background-color: brown;
}

.main {
    display: flex;
    align-items: start;
    justify-content: start;
}