$base-color: #f8f8f8;
$hover-color : rgb(0 0 0 / 10%);
$border-color: #d3d3d3;
$icon-color: #0f0f0f;
$middle-gray: rgb(0 0 0 / 5%);

// Breakpoints
$tablet: 1200px;
$mobile: 792px;
$mobile-sm: 500px;

html{
    font-size: 10px;
    font-family: "Roboto", Arial, sans-serif;
}

@keyframes tooltip-fade-in {
    0%{
        opacity: 0;
    }

    100% { 
        opacity: 0.9;
    }
}

.hide {
    display: none;
}

.show {
    position: absolute;
    display: block;
}

.tooltip-animation {
    opacity: 0;
    animation-delay: 1ms ;
    animation-name: tooltip-fade-in;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 150ms;
    animation-fill-mode: forwards;

}


.header {

    height: 56px;
    padding: 0 16px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    

   
    &__left-box{

        display: flex;
        flex-direction: row;
        align-items: center;
        
        .logo-box{
            width: 113px;
            display: flex;
            flex-direction: row;
            
            a {
                padding: 0;
                align-items: center;
                flex: none;
                display: flexbox;
                display: flex;
                flex-direction: row;
                align-self: center;
                cursor: pointer;

                .logo {
                    height: 20px;
                    width: 90px;
                }
            }

            #country-code{
                color: #606060;
                margin: -6px 0 0 4px;
                background: transparent;
                cursor: pointer;
                font-size: 10px;
                
            }
        }
        
        .icon-box{
            width: 40px;
            height: 40px;
            padding: 8px;
            margin-right: 16px;
            cursor: pointer;
            border-radius: 100%;
            
            &:hover {
                background-color: $hover-color
            }

            .icon-button {
                vertical-align: middle;
                color: inherit;
                outline: none;
                background: none;
                margin: 0;
                border: none;
                padding: 0;
                width: 100%;
                height: 100%;
                line-height: 0;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;
            }
        }
    


        button {
            border: none;
            background-color: transparent;
        }

        
        
    }

    &__search-box{

        flex: 0 1 732px;
        min-width: 0;
        display: flexbox;
        display: flex;
        flex-direction: row;
        align-items: center;

        .input-box{
            margin: 0 0 0 40px;
            padding: 0 4px;
            flex: 1;
            flex-basis: 0.000000001px;
            display: flex;

            form {
                height: 40px;
                position: relative;
                flex-basis: 0.000000001px;
                flex: 1;
                display: flexbox;
                display: flex;
                flex-direction: row;
            }
            
            .hide-margin {
                margin-left: 0px;
                padding: 0 4px 0 48px;
                border: 1px solid #1c62b9;
                box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
                margin-left: 0;

            }

            .show-margin {
                padding: 0 4px 0 16px;
                margin-left: 32px;
                border: 1px solid #ccc;
                border-right: none;
                box-shadow: inset 0 1px 2px #eee;
            }

            .input-container {
                position: relative;
                align-items: center;
                background-color: hsl(0,0%,100%);
                caret-color: #0f0f0f;
                
                border-radius: 40px 0 0 40px;
                color: hsl(0,0%,6.7%);
                flex: 1;
                flex-basis: 0.000000001px;
                display: flexbox;
                display: flex;
                flex-direction: row;
                min-width: 358.5px;
                height: 40px;

                .left-icon-box {
                    position: absolute;
                    left: 0;
                    color: $icon-color;
                    padding: 0 12px 0px 16px;
                }

                .hide-icon{
                    display: none;
                }

                input {
                    border: none;
                    outline: none;
                    color: hsl(0,0%,6.7%);
                    width: 100%;
                    line-height: 24px;
                    font-size: 16px;
                    font-family: "Roboto", "Noto", sans-serif;
                    appearance: none;
                    -webkit-appearance: none;
                    -webkit-font-smoothing: antialiased;
                    
                }

                .search-clear-button {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background-color: transparent;
                    border-radius: 50%;
                    min-width: 40px;
                    margin-right: -8px;
                    z-index: 100;
                    &:hover {
                        background-color: $hover-color;
                    }

                    .clear-button{
                        border: none;
                        width: 24px;
                        height: 24px;
                        background: transparent;
                        cursor: pointer;
                    }
                }

                .hide {
                    display: none;
                }

                .show {
                    display: block;
                }
            }

            .search-button {
            
                border: 1px solid $border-color;
                background-color: $base-color;
                border-radius: 0 40px 40px 0;
                cursor: pointer;
                height: 40px;
                width: 64px;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                position: relative;

                &:hover {
                    background-color: #f0f0f0;
                    border-color: #c6c6c6;
                    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
                }

                

                .search-tooltip-box {
                    top: 69px;
                    outline: none;
                    z-index: 1002;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: default;
                    text-size-adjust: 100%;
                    height: 50px;

                    .search-tooltip {
                        border-radius: 4px;
                        margin: 8px;
                        text-transform: none;
                        word-break: normal;
                        font-family: "Roboto", "Arial", sans-serif;
                        font-size: 1.2rem;
                        line-height: 1.8rem;
                        font-weight: 400;
                        outline: none;
                        -webkit-font-smoothing: antialiased;
                        background-color:#616161;
                        color:  white;
                        padding: 10px 8px;
                        
                    }

                    
                }

                .icon-box{
                    width: 24px;
                    height: 24px;
                    color: $icon-color;

                    .icon-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }

        .voice-search-box {

            border-radius: 100px;
            margin-left: 12px;
            background-color: $middle-gray;

            button {
                color: $icon-color;
                min-width: 0;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding: 0;
                position: relative;
                margin: 0;
                white-space: nowrap;
                min-width: 0;
                text-transform: none;
                font-family: "Roboto", "Arial", sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                border: none;
                cursor: pointer;
                outline-width: 0;
                box-sizing: border-box;
                background: none;
                text-decoration: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;
                flex: 1;
                flex-basis: 0.000000001px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $hover-color;
                }

                .voice-icon-box {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .voice-tooltip-box {
                    top: 63.5px;
                    outline: none;
                    z-index: 1002;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: default;
                    text-size-adjust: 100%;
                    height: 50px;

                    .voice-tooltip {
                        border-radius: 4px;
                        margin: 8px;
                        text-transform: none;
                        word-break: normal;
                        font-family: "Roboto", "Arial", sans-serif;
                        font-size: 1.2rem;
                        line-height: 1.8rem;
                        font-weight: 400;
                        outline: none;
                        -webkit-font-smoothing: antialiased;
                        background-color:#616161;
                        color:  white;
                        padding: 10px 8px;
                    }
                }
            }
        }
    }
    &__right-box {

        min-width: 225px;
        align-items: center;
        justify-content: flex-end;
        flex: none;
        display: flex;
        flex-direction: row;

        .buttons-box {

            display: flex;
            align-items: center;
            flex-direction: row;
            cursor: pointer;

            

            .settings-button{
                width: 40px;
                height: 40px;
                outline: none;
                margin-right: 8px;
                color: #030303;
                font-family: "Roboto", "Arial", sans-serif;
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;

                .settings-tooltip-box {
                    top: 64px;
                    left: -14.9px;
                    outline: none;
                    z-index: 1002;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: default;
                    text-size-adjust: 100%;
                    height: 50px;

                    .settings-tooltip {
                        border-radius: 4px;
                        margin: 8px;
                        text-transform: none;
                        word-break: normal;
                        font-family: "Roboto", "Arial", sans-serif;
                        font-size: 1.2rem;
                        line-height: 1.8rem;
                        font-weight: 400;
                        outline: none;
                        -webkit-font-smoothing: antialiased;
                        background-color:#616161;
                        color:  white;
                        padding: 10px 8px;
                    }
                }

                button {
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                }
            }

            .login-button {
                color: #065fd4;
                border-color: rgba(0, 0, 0, 0.1);
                padding: 0 15px;
                border-width: 1px;
                border-style: solid;
                height: 36px;
                font-size: 14px;
                line-height: 36px;
                border-radius: 18px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: #def1ff;
                    border-color: transparent;
                }

                .person-icon {
                    margin-right: 6px;
                    margin-left: -6px;
                    width: 24px;
                    height: 24px;
                    line-height: 0;
                    fill: currentColor;
                }

                .login-text {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 500;
                    user-select: none;
                }
            }
        }

    }

    // Mobile search button (hidden by default, shown on mobile)
    .mobile-search-btn {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background: transparent;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        
        &:hover {
            background-color: $hover-color;
        }

        svg {
            width: 24px;
            height: 24px;
            color: $icon-color;
        }
    }

    // ==================== TABLET STYLES (792px - 1200px) ====================
    @media (max-width: $tablet) {
        padding: 0 16px;

        &__search-box {
            flex: 0 1 600px;

            .input-box {
                margin: 0 0 0 20px;

                .input-container {
                    min-width: 200px;
                }
            }
        }

        &__right-box {
            min-width: 180px;
        }
    }

    // ==================== MOBILE STYLES (<792px) ====================
    @media (max-width: $mobile) {
        padding: 0 8px;

        &__left-box {
            // Hide hamburger menu on mobile (no sidebar)
            .icon-box {
                display: none;
            }

            .logo-box {
                width: 90px;

                #country-code {
                    display: none;
                }
            }
        }

        // Hide the full search box on mobile
        &__search-box {
            display: none;
        }

        // Show mobile search button
        .mobile-search-btn {
            display: flex;
        }

        &__right-box {
            min-width: auto;
            flex: 1;
            justify-content: flex-end;

            .buttons-box {
                .settings-button {
                    display: none;
                }

                .login-button {
                    padding: 0;
                    border: none;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    justify-content: center;

                    &:hover {
                        background-color: $hover-color;
                    }

                    .person-icon {
                        margin: 0;
                    }

                    .login-text {
                        display: none;
                    }
                }
            }
        }
    }

    // ==================== SMALL MOBILE STYLES (<500px) ====================
    @media (max-width: $mobile-sm) {
        &__left-box {
            .logo-box {
                .logo {
                    width: 75px;
                    height: 17px;
                }
            }
        }
    }

}